* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial, sans-serif;
    background-image: url('thumb-1920-1321242.png'); /* Replace with your image path */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Keeps background fixed while scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


    .login-container {
    background-color :color(from color srgb r g b);
    padding: 30px;
    border-radius: 8px;
    width: 300px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color:black;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color:red;
    color:white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color:green;
  }
  
  .footer {
    text-align: center;
    margin-top: 15px;
  }
  
  .footer a {
    font-size: 12px;
    color: red;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }